*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

p, h1, h2, h3, span {
  font-family: 'Work Sans', sans-serif;
}


.header {
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: space-around;
    padding: 30px 0;
}


.menu {
    display:flex;
    flex-direction: row
}

.menu > li {
    margin:0px 15px;
    text-decoration: none;
    list-style: none;
}

ul {
	display: grid;
  margin: 30px 0;
  font-size: 27px;
  font-weight: 700;
	place-items: center;
}

li {
	color: #18272F;
  position: relative;
  text-decoration: none;
}


.container{
    padding: 0px;
    margin: 0px;
}


.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px

}

.letter {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
   block-size: 100%;
  inline-size: 100%;
}

.h2-title {
  position: relative;
  font-size: 5rem;
}


.title {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

.slider-1{

    max-width: 100%;
    max-width: 100%;
}

.slider-2{

    max-width: 100%;
    max-height: 100%;
}

.aboutMe > p {
  max-width: 720px;
}

/*Skills*/

.skills{
	align-items: center;
	justify-content: center;
  background-color: rgb(224, 224, 224);
  padding:60px;
  margin:30px 0px;
}


.slide-track {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.slide {
  margin: 30px;
}

/*work*/


.jobs {
    text-align: center;
    margin: 30px 0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-jobs {
    max-width:600px;
    padding:30px;
}


/*works title*/

.wrapper-parallax{
  font-size:0;
width: 60%;
/* The image used */
height: 100vh;
overflow-x: hidden;
overflow-y: auto;


}/*for inline block spacing*/


a{
  display:inline-block;
  width:50%;
  height:50vh;
  position:relative;
}

a img {
  height:100%; 
  width:100%;
  object-fit:cover;}




/*////////HOVER //////*/

/*menu*/



li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



/*Title*/


  
  .h2-title::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .h2-title:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .h2-title::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(224, 224, 224);
    z-index: -1;
    transition: transform .3s ease;
  }
  


  /* Work */


a:before, a:after{
  width:100%;
  position:absolute;
  opacity:0;
  transition:opacity 0.3s ease;

}

a:before{
  content:'';
  height:100%;
  background:rgba(224, 224, 224, 0.6);
}

a:after{
  content:attr(data-title);
  font-size:24px;
  top:calc(50% - 0.5em);
  left:0;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
}

a:hover:before, a:hover:after{
  opacity:1;
}



/*/////Media////*/


@media (max-width:650px){
a{
  width:50%;
  height:100vh;
}
}

@media (max-width:480px){
a{
  width:100%;
}
}